#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Generate PassWord
Exec=python3 /home/hoanbui/apps_python_code/Generate_Password/generate_password.py
Icon=/home/hoanbui/apps_python_code/Generate_Password/Avast_Passwords_logo.png
